.git
.idea
.vscode
.dart_tool
.flutter-plugins
.packages
.env
.env.local
.env.test
.DS_Store

/build
/frontend/build
/frontend/.gradle
/frontend_legacy/build
/frontend_legacy/.gradle
/backend/target
/uploads
/test-backups
/musikschule
/musikschule.pub
/node_modules
/deploy/.env
/deploy/firebase-service-account.json
/deploy/google-services.json
/deploy/upload_certificate.pem
