.idea/
.vscode/
/.dart_tool/
/.packages
/.flutter-plugins
/build/
/frontend/build/
/frontend/.gradle/
/backend/target/
*.log
node_modules/
/.DS_Store
/.env
/.env.local
/.env.test
/uploads/
deploy/.env
musikschule_app
musikschule_app.pub

musikschule

musikschule.pub

deploy/upload_certificate.pem
deploy/google-services.json
deploy/firebase-service-account.json
frontend/android/app/google-services.json
**/google-services.json
