#cloud-config

users:
  - name: deploy
    groups: sudo,docker
    shell: /bin/bash
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICzHjlfttUlTZPpyZBDT8uYUfdlN1q5ubZWjhQCNUpjY musikschule-deploy

package_update: true
package_upgrade: true

packages:
  - ca-certificates
  - curl
  - gnupg
  - lsb-release
  - ufw

runcmd:
  - [ "mkdir", "-p", "/etc/apt/keyrings" ]
  - [ "sh", "-c", "curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg" ]
  - [ "sh", "-c", "echo \"deb [arch=\$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \$(lsb_release -cs) stable\" > /etc/apt/sources.list.d/docker.list" ]
  - [ "apt-get", "update" ]
  - [ "apt-get", "install", "-y", "docker-ce", "docker-ce-cli", "containerd.io", "docker-buildx-plugin", "docker-compose-plugin" ]
  - [ "systemctl", "enable", "--now", "docker" ]
  - [ "ufw", "default", "deny", "incoming" ]
  - [ "ufw", "default", "allow", "outgoing" ]
  - [ "ufw", "allow", "OpenSSH" ]
  - [ "ufw", "allow", "80/tcp" ]
  - [ "ufw", "allow", "443/tcp" ]
  - [ "ufw", "--force", "enable" ]

final_message: "Cloud-init finished. User 'deploy' created with Docker and UFW enabled."
